@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Lato&display=swap');

$font-color: #000;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #0f1925;
$background-alternative-color: #e0fbfc;
$header-font: 'Lato', sans-serif;
$main-font: 'EB Garamond', serif;