@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Lato&display=swap');

$font-color: #000;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #74acf5;
$footer-background-color: #2a3f5a;
$footer-top-border: #090d13;
$background-alternative-color: #e0fbfc;
$header-font: 'Lato', sans-serif;
$main-font: 'EB Garamond', serif;