@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

$font-color: #BBB;
$font-alternative-color: #000;
$accent-color: #ee6c4d;
$background-color: #111;
$footer-background-color: #111;
$header-background-color: #111;
$footer-top-border: #444;
$background-alternative-color: #111;
$header-font: 'Lato', sans-serif;
$main-font: 'EB Garamond', serif;
$button-titles: 'Oswald', sans-serif;
$main-color-1: #111;
$main-color-2: #444;
$main-color-3: #555;
$main-color-4: #999;
$main-color-5: #BBB;
